
.options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


body{
    display: flex;
    justify-content: center;
     align-items: center; 
     flex-direction: column;
     height: 105vh; 
  overflow-y: scroll;
}

form{
  margin-top: -10px;
max-width: 400px;
border-radius: 10px;
padding: 35px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid black;
 background: linear-gradient(
        to bottom right,
        rgb(167, 75, 253),
        rgb(51, 51, 247),
        rgba(0, 212, 255, 1)
      );
      border: none;
      position: relative;
    
}


label{
  color: white;
}




#name{

border-radius: 10px;
border: solid rgb(153, 153, 153);
outline: none;


margin-bottom: 10px;
color: black;

}


#password{

border-radius: 10px;
border: solid rgb(153, 153, 153);
outline: none;


margin-bottom: 10px;
color: black;
}

#phone{

border-radius: 10px;
border: solid rgb(153, 153, 153);
outline: none;


margin-bottom: 10px;
color: black;
}

#user{
  border-radius: 10px;
  border: solid rgb(153, 153, 153);
  outline: none;
  
  
  margin-bottom: 10px;
  color: black;
}






.btn1{
 height: 30px;
 width: 150px;
 background-color:mediumturquoise;
 color: white;
border-radius: 10px;
border: none;
display: flex;
justify-content: center;
align-items: center;
margin-left: 35px;
margin-top: 20px;


}





.btn:hover{
 cursor: pointer;
 
}




a{
 text-decoration: underline;
 color: white;
 font-family: sans-serif;
 position: absolute;
 top: 370px;
 font-size: 15px;
 margin-left: 65px;


}











